.player {
	width: 100%;
	height: 100%;
	.backdrop {
		margin-bottom: 40rpx;
		.title {
			font-size: 32rpx;
			text-align: center;
			color: #fff;
			margin: 40rpx 0;
		}
		.slide-wrap {
			height: 660rpx;
			.sub-slide {
			}
			.lyric {
				text-align: center;
				overflow: scroll;
				font-size: 28rpx;
				color: #eee;
				height: 560rpx;
				padding-top: 20rpx;
				line-height: 2;
			}
		}
		.slide-image {
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -200rpx;
			margin-left: -200rpx;
			width: 400rpx;
			height: 400rpx;
			box-sizing: border-box;
			border: 60rpx solid #000;
			border-radius: 50%;
		}
	}
	.progress-wrap {
		padding: 0 20rpx;
		height: 30px;
		line-height: 30px;
		justify-content: center;
		.begin, .end {
			width: 100rpx;
			color: #ccc;
			font-size: 24rpx;
			text-align: center;
		}
		.progress {
			position: relative;
			.progress-bg {
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -2px;
				margin-left: -125px;
				width: 250px;
				height: 4px;
				background: #999;
				border-radius: 4px;
			}
			.progress-bar {
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -2px;
				width: 0;
				height: 4px;
				background: #eee;
				border-radius: 4px;
				.control {
					position: absolute;
					right: -8px;
					top: -6px;
					float: right;
					width: 16px;
					height: 16px;
					background: #eee;
					border-radius: 50%;
				}
			}
		}
	}
	.option {
		margin: 100rpx 0 50rpx;
		justify-content: space-around;
		align-items: center;
		.play {
			border: 1rpx solid #fff;
			width: 100rpx;
			height: 100rpx;
			line-height: 100rpx;
			text-align: center;
			border-radius: 50%;
			.loading {
				position: relative;
				top: 50%;
				width: 60rpx;
				height: 60rpx;
				transform: translateY(-50%);
			}
		}
		.icon {
			color: #fff;
			font-size: 50rpx;
		}
	}
}